@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'android';
    src: url('../fontes/idroid.otf');
    font-weight: normal;
}

:root {
    --cor1:#48D9DB;
    --cor2:#DB53B3;
    --cor3:#3DDC84;
    --cor4:#DB6B27;
    --cor5:#4BDB32;
    --cor6:#48d9db5e;
    --cor7:#db6c275d;

    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'android', cursive;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor6);
    font-family: var(--fonte-padrao);
    font-size: 1em; 
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor1));
    min-height: 150px;
    text-align: center;
}
header > h1 {
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 3em;
    padding: 20px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.315);
}

header > p {
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 1.3em;
    margin: auto;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.315);
    min-width: 300px;
    padding-bottom: 10px;
}

nav {
    background-color: var(--cor1);
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 0.1em solid;
    border-bottom: 0.1em solid;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.442);
}

nav > a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 10px;
}

nav > a:hover {
    background-color: var(--cor4);
    color: var(--cor1);
    border-radius: 5px;
    transition: 0.3s;
}

main {
    background-color: white;
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    text-align: justify;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.442);
}

main h1 {
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
    text-align: left;
    padding-bottom: 10px;
    color: var(--cor4);
}

main h2 {
    background-image: linear-gradient(to right, var(--cor1), transparent);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.2em;
    text-align: left;
    padding: 0px 10px;
    color: var(--cor4);
}

main p {
    padding-top: 10px;
    padding-bottom: 10px;
    text-indent: 30px;
    font-size: 1.1em;
    line-height: 1.3em;
}

main img {
    width: 100%;
}

main img.pequeno {
    display: block;
    margin: auto;
    max-width: 350px;
}

div.video {

    background-color: var(--cor2);
    margin: 20px -20px;
    position: relative;
    padding-bottom: 59%;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
}

main strong {
    color: var(--cor4);
}

main a {
    text-decoration: none;
    background-color: var(--cor4);
    padding: 1px 3px;
    font-weight: bold;
    color: black;

}

main a:hover {
    text-decoration: underline;
    background-color: var(--cor3);
}

main a::after {
    content: ' \1F517'
}

aside {
    background-color: var(--cor7);
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.363);
    
}

aside > h3 {
    background-color: var(--cor1);
    color: var(--cor4);
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
}

aside p {
    padding: 10px;
}

aside ul {
    list-style-position: inside;
    padding-left: 10px;
    list-style: none;
    columns: 2;
}

aside li::before {
    content: '\2714   ';
}

footer {
    background-color: var(--cor1);
    padding: 15px;    
}

footer > p {
    margin: auto;
    text-align: center;
}

footer a {
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    background-color: var(--cor4);
    color: var(--cor1);
    padding: 1px 3px;
    text-decoration: underline;
}